# Node
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Database cleanup
server/wipe_db.js

# IDE Settings
.vscode/

# User Uploads
server/uploads/*
!server/uploads/.gitkeep

# Media and Assets
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.mp4
*.webm
*.pdf

# Logs (Global)
*.log

# Root Config Files
package.json
package-lock.json
eslint.config.js