# Node
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Database cleanup
server/wipe_db.js

# IDE Settings
.vscode/

# User Uploads (Ignore content but keep folder)
server/uploads/*
!server/uploads/.gitkeep

# Logs
*.log
npm-debug.log*
